<div class="row">
    <h1>Password</h1>
    <button (click)="button1()" mat-raised-button color="primary" style="margin-right: 15px; margin-bottom: 15px;">*</button>
    <button (click)="button2()" mat-raised-button color="primary" style="margin-right: 15px; margin-bottom: 15px;">*</button>
    <button (click)="button3()" mat-raised-button color="primary" style="margin-right: 15px; margin-bottom: 15px;">*</button>
    <button (click)="button4()" mat-raised-button color="primary" style="margin-right: 15px; margin-bottom: 15px;">*</button>
</div>
<div class="row" >
    <button (click)="buttonReset()" mat-raised-button style="margin-right: 15px; margin-bottom: 15px;">Reset</button>
</div>
<div class="row" *ngIf="this.entered === '1214'">
    <h1>Guest List</h1>
    <div>
        <mat-table mat-table [dataSource]="rsvps | async" class="mat-elevation-z8">

            <ng-container matColumnDef="FirstName">
                <mat-header-cell mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.FirstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.LastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Rsvp">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Rsvp </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Rsvp}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Dinner">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Dinner </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Dinner}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Allergies">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Allergies </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Allergies}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="GuestOf">
                <mat-header-cell mat-header-cell *matHeaderCellDef> GuestOf </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.GuestOf}} </mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
