<div class="container">
    <div class="row">
        <h1>RSVP</h1>
        <form class="container" (ngSubmit)="onSubmit()">
            <mat-form-field >
                <mat-label >First Name</mat-label>
                <input [(ngModel)]="model.FirstName" name="FirstName" matInput placeholder="First">
            </mat-form-field>

            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="model.LastName" name="LastName" matInput placeholder="Last">
            </mat-form-field>

            <mat-checkbox class="example-margin" [(ngModel)]="model.Rsvp" name="Rsvp" >RSVP</mat-checkbox>

            <div *ngIf="model.Rsvp == true">
                <div class="radio-selected-value" >Dinner Option: {{ model.Dinner }}</div>
                <mat-radio-group [(ngModel)]="model.Dinner" name="Dinner" >
                    <mat-radio-button *ngFor="let dinner of model.DinnerOptions" [value]="dinner" > {{ dinner }} </mat-radio-button>
                </mat-radio-group>
            </div>

            <button mat-raised-button type="submit" style="width: 100px;" color="primary">Submit</button>
        </form>
    </div>
    <div class="row" >
        <h1>Guest List</h1>
        <mat-table mat-table [dataSource]="rsvps | async" class="mat-elevation-z8">

            <ng-container matColumnDef="FirstName">
                <mat-header-cell mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.FirstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.LastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Rsvp">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Rsvp </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Rsvp}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Dinner">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Dinner </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Dinner}} </mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
