<div class="container">
    <div class="">
        <h1>RSVP</h1>
        <form class="container" (ngSubmit)="onSubmit()">
            <ul *ngFor="let rsvp of rsvpList" role="list">
                <p>
                    <strong>Name: &nbsp;</strong> {{ rsvp.FirstName }} {{ rsvp.LastName }}
                </p>
                <p>
                    <strong>&nbsp;&nbsp; RSVP: &nbsp;</strong> {{ rsvp.Rsvp ? 'Yes' : 'No' }}
                </p>
                <p>
                    <strong>&nbsp;&nbsp; Dinner: &nbsp;</strong> {{ rsvp.Dinner }}
                </p>
                <p>
                    <strong>&nbsp;&nbsp; Allergies: &nbsp;</strong> {{ rsvp.Allergies }}
                </p>
                <p>
                    <strong>&nbsp;&nbsp; Guest Of: &nbsp;</strong> {{ rsvp.GuestOf }}
                </p>
            </ul>
            <mat-form-field >
                <mat-label >First Name</mat-label>
                <input [(ngModel)]="model.FirstName" name="FirstName" matInput placeholder="First">
            </mat-form-field>

            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="model.LastName" name="LastName" matInput placeholder="Last">
            </mat-form-field>

            <div style="display: inline-block;" >
                <mat-checkbox class="example-margin" (click)="checkRsvpGuest()" [(ngModel)]="model.Rsvp" name="Rsvp" >RSVP or&nbsp;&nbsp; </mat-checkbox>
                <mat-checkbox class="example-margin" (click)="checkRsvp()" [(ngModel)]="model.HasGuest" name="HasGuest" >RSVP For Guest</mat-checkbox>
            </div>

            <div class="container" >
                <div *ngIf="model.HasGuest" >
                    <div>
                        <mat-form-field>
                            <mat-label>Who is this the guest of?</mat-label>
                            <input [(ngModel)]="model.GuestOf" name="GuestOf" matInput placeholder="First/Last Name" >
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="model.Rsvp || model.HasGuest">
                    <div >
                        <div class="radio-selected-value" >Dinner Option: {{ model.Dinner }}</div>
                        <mat-radio-group [(ngModel)]="model.Dinner" name="Dinner" >
                            <mat-radio-button *ngFor="let dinner of model.DinnerOptions" [value]="dinner" > {{ dinner }} </mat-radio-button>
                        </mat-radio-group>

                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Allergies</mat-label>
                            <input [(ngModel)]="model.Allergies" name="Allergies" matInput placeholder="Allergies" >
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div>
                <button mat-raised-button type="submit" style="width: 100px;" color="primary">Submit</button>
            </div>
        </form>
    </div>
    <div style="height: 300px;"></div>
</div>
