/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.toolbar-spacer {
    flex: 1 1 auto;
}
footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.body {
    margin-bottom: 60px;
}
.mat-form-field {
    max-width: 1000px;
}
.mat-radio-group {
    display: inline-flex;
    flex-direction: column;
}
.mat-radio-button {
    margin: 5px;
}
.radio-selected-value {
    margin: 15px 0;
}
.mat-table {
    max-width: 1000px;
}

@media (max-width: 600px) {
    .row {
        margin-left: 1em;
        margin-right: 1em;
    }
    html, body {
        font-family: Roboto, Arial, sans-serif;
        width: 100%;
    }
}

@media (min-width: 600px) {

    html, body {
        font-family: Roboto, Arial, sans-serif;
        width: 100%;
    }
    .body, .mat-app-background, .header-container {
        height: 100%;
    }
    .row {
        margin-left: 2em;
        margin-right: 2em;
    }
}
