/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
mat-toolbar-row {
    justify-content: center;
}
nav {
    justify-content: center;
}
table {
    width: 100%;
}
.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}
.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
