<div class="home-container">
    <div class="row" >
        <div class="col-sm-4" >
            <h1>Wedding</h1>
            <mat-card class="example-card mat-elevation-z10">
                <img mat-card-image src="assets/rachel-matt-2.jpg" alt="Photo of bride/groom">
                <mat-card-content>
                    <p>March 1st, 2019</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-sm-4" >
            <h1>Chapel</h1>
            <mat-card class="example-card mat-elevation-z10">
                <a href="https://www.theinnatstjohns.com/st-john-chapel.htm"><img mat-card-image src="assets/inn.jpg" alt="Photo of Wedding Chapen"></a>
                <mat-card-content>
                    <p>Wedding begins at 5:00pm</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-sm-4" >
            <h1>Reception</h1>
            <mat-card class="example-card mat-elevation-z10">
                <a href="https://www.theinnatstjohns.com/gallery.htm"><img mat-card-image src="assets/atrium.jpg" alt="Photo of Atrium"></a>
                <mat-card-content>
                    <p>Cocktail hour 6:00-7:00pm</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <h1>Hotel</h1>
            <mat-card class="example-card mat-elevation-z10">
                <a href="http://group.hiltongardeninn.com/KernShulerWedding">
                    <img mat-card-image src="assets/hilton.jpg" alt="Hilton Garden Inn">
                </a>
                <mat-card-content>
                    <p>Hilton Garden Inn: Plymouth, MI</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
