<div class="home-container">
    <div class="row" >
        <div class="col-md-4" >
            <h1>Wedding</h1>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        Matthew and Rachel Shuler
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/profile.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>March 1st, 2019</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-4" >
            <h1>Chapel</h1>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                       Inn at St. John's
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/inn.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>Wedding begins at 5:00pm</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-4" >
            <h1>Reception</h1>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        Inn at St. John's Atrium
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/atrium.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>Cocktail hour 6-7pm</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
